/*.mobileLoginWrapper{
    min-width: 50%;
    max-width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 4vh;
}*/

.mainContainer{
    padding: 10px !important;
}

.mobileLoginWrapper .form-control{
    font-size: 2.5vh;
}