.error-auth{
  font-size: 12px;
  color: rgb(233, 43, 43);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  max-width: 510px !important;
  width: 100%;
  padding: 20px 20px;
  height: auto;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #f3f5f7;
  box-shadow: -3px -3px 7px rgba(68, 75, 87, 0.356),
              2px 2px 5px rgba(68, 75, 87, 0.356);
}
.mobileWrapper .wrapper{
  min-width: 90%;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.tab-content{
  border: none !important;
}

.error-msg{
  color:rgb(223, 45, 45);
  font-size: 12px;
  margin: 3px 4px;
  height: auto;
}

.mainContainer{
  padding: 35px 40px;
}

.mobileWrapper .mainContainer{
  padding: 5px 10px;
  height: auto;
}

.mobileWrapper .nav-link{
  padding: 0.4rem 1rem !important;
}

.wrapper .nav-tabs ul{
  width: 100%;
   

  margin-bottom:30px;
   border: 2px solid #1bb1ec;
  display: flex;
}
    
    

.wrapper .nav-tabs li{
  width: 50%;
  height: 60px;
  text-align: center;
  font-size: 14px;
  color: #fefffe;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #1bb1ec;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
}

.content{
  width: 100%;
  height: 100%;
}

.wrapper .nav-tabs button{
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.wrapper .nav-tabs li.active{
  background: #e3e4e6;
  color: rgb(0, 0, 0);
 
}

.wrapper .input_field{
  margin-bottom: 10px;
  margin-top: 10px;
}

.homeLink{
  font-size: 3vh;
  cursor: pointer;
  color:#3498db;
}

.wrapper .input_field .input{
  width: 100%;
  height: 100%;
  border: none;
  background: #dde9ecb7;
  color: black;
  font-family: sans-serif;
  border: 2px solid rgba(13, 162, 231, 0.596);
  font-size: 2vh;
  padding: 17px;
  border-radius: 10px;
} 

.wrapper .btn{
  margin-top: 5px;
  background: #27a6f0;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
}
.wrapper .btn:hover{
 background: #1b8cce;
}

.wrapper .btn input{
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  width: 100%;
  display: inline-block;
  font-size: 2.2vh;
  font-family: sans-serif;
}
.icon-button{
  margin-top: 45px;
}
.icon-button span{
  margin-left: 15px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 7px;
 
 border-radius: 5px;
  line-height: 30px;
  
  background: #b8bec7;
 
   
}
.icon-button span.facebook{
  background: #3498db;
  color: #fbfdff;
}
.icon-button span.google{
  background: #db7f34;
  color: #ffffff;
}
.icon-button span.facebook:hover{
  background: #2172a8;
}
.icon-button span.google:hover{
  background: #be6c29;
}
 
.icon-button span i{
  font-size: 25px;
   
}

.btn-control{
  background: none;
  color:rgba(5, 138, 199, 0.596);
  cursor: pointer;
  padding: 5px 12px;
  font-weight: 500;
  font-size: 18px;
  border: none;
}

.btn-control:hover{
  background-color: #68c9f0;
}

.top-btn-panel{
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}

.tab-content{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.tab-content .form-label{
  font-size: 16px;
  font-weight: 400;
}

.auth-block{
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.auth-block > div{
  display: inline-block;
  cursor: pointer;
  padding: 15px 20px;
  background-color: #E8EBED;
}

.auth-block > div:hover{
  background-color: #d6d7d8;
}

.auth-block > div > img{
  margin-right: 20p;
}