html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 2vh;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    font-weight: 300;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

table{
    max-width: 100%;
}


p{
    width: 100% !important;
}

.editorWrapper{
    all: unset;
}

.content{
    width: 98%;
    max-width: 98%;
    height: 100% !important;
    overflow: hidden;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    text-align: center;
}

.footer-edit-btn{
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 16px;
    color:rgba(82, 159, 241, 0.7);
    cursor: pointer;
}

.footer-edit-btn:hover{
    color:rgba(3, 115, 235, 0.7);
}

.inner-block{
    display: inline-block;
    margin: 0 auto;
}

.pageWrapper{
    max-width: 96%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.editorWrapper ol, ul, dl{
    padding-left: 13px;
    display: inline-block;
}

.editorWrapper ol li{
    display: list-item;
    list-style: decimal !important;
}
.pageWrapper ol, ul{
    padding-left: 20px;
}

.pageWrapper ol li{
    display: list-item;
    list-style: decimal;
}

.pageWrapper ul li{
    display: list-item;
    list-style: disc;
}

.editorWrapper ul li{
   display: list-item;
   list-style: disc;
}

.punkframe{
    width: 100%;
    border:0;
    height: 500px;
}

.containerWrapper{
    height: 95%;
    position: relative;
    top: 0px;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.extended_footer{
    height: 15%;
}

.containerWrapper img{
    max-width: 100%;
}

.container {
    max-height: 92%;
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.mobileWrapper .container{
    width: 100%;
}

.container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.img-znak-comment{
    max-height: 40px;
    width: auto;
}
.textimg{
    max-height: 50px;
    width: auto;
}
.textrazmimgh{
    max-height: 50px;
    width: auto;
}
.list-group-item.success,
.list-group-item.success:hover,
.list-group-item.success:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.list-group-item.warning,
.list-group-item.warning:hover,
.list-group-item.warning:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}


/* Make the examples and snippets not full-width */
@media screen and (min-width: 768px) {
    .bs-example {
        margin-left: 0;
        margin-right: 0;
        background-color: #fff;
        border-width: 1px;
        border-color: #ddd;
        border-radius: 4px 4px 0 0;
        box-shadow: none;
    }
    .bs-example + .highlight {
        margin-top: -16px;
        margin-left: 0;
        margin-right: 0;
        border-width: 1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

/* Tweak content of examples for optimum awesome */
.bs-example > p:last-child,
.bs-example > ul:last-child,
.bs-example > ol:last-child,
.bs-example > blockquote:last-child,
.bs-example > .form-control:last-child,
.bs-example > .table:last-child,
.bs-example > .navbar:last-child,
.bs-example > .jumbotron:last-child,
.bs-example > .alert:last-child,
.bs-example > .panel:last-child,
.bs-example > .list-group:last-child,
.bs-example > .well:last-child,
.bs-example > .progress:last-child,
.bs-example > .table-responsive:last-child > .table {
    margin-bottom: 0;
}
.bs-example > p > .close {
    float: none;
}

.table-responsive{
    text-align: center !important;
}

/* Typography */
.bs-example-type .table td:last-child {
    color: #999;
    vertical-align: middle;
}
.bs-example-type .table td {
    padding: 15px 0;
    border-color: #eee;
}
.bs-example-type .table tr:first-child td {
    border-top: 0;
}
.bs-example-type h1,
.bs-example-type h2,
.bs-example-type h3,
.bs-example-type h4,
.bs-example-type h5,
.bs-example-type h6 {
    margin: 0;
}

/* Images */
.bs-example > .img-circle,
.bs-example > .img-rounded,
.bs-example > .img-thumbnail {
    margin: 5px;
}

/* Buttons */
.bs-example > .menubtn,
.bs-example > .btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.myheader h1{
    text-align: center;
}

.pull-left{
    float: left;
}

.btn-group{
    display: inline-block;
}

.top-level-menu{
    width: 100%;
    /*border-bottom: 1px solid #e7e7e7;*/
    text-align: center;
}

.top-level-menu  .homeIcon{
    height: 64px;
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
}

.top-level-menu  .homeIcon > img{
    max-width: 96px;
}

.homeIcon > a{
    position: absolute;
    display: none;
}

.top-level-menu .homeIcon > input{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.mobileHeader{
    position: absolute;
    font-size: 1em;
    top: 0px;
    left: 0;
    height: auto;
    background-color: #aec1bd;
    width: 100%;
    z-index: 10000;
}

 .MuiButtonBase-root{
    padding: 5px !important;
    }

  .mobileHeader .homeIcon{
    width: 200px;
    position: relative;
    display: inline-block;
    max-height: 100%;
  }

  .mobileHeader .homeIcon img{
    min-height: 7vh;
    max-height: 7vh !important;
  }

  .mobileHeader .blue-btn{
    font-size: 3vh;
    padding: 5px 2vw;
  }

  .mobileHeader .homeIcon > input{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#isPasted .mobileWrapper{
    display: none;
}

.menubtn{
    padding: 15px 15px !important;
    line-height: 20px;
    background-color: transparent !important;
    display: inline-block !important;
    color: #777 !important;
    border-color: transparent !important;
}

.menubtn:hover{
    background-color: transparent;
}

.group-menu-btn button{
    padding: 15px 15px !important;
    line-height: 20px;
    background-color: transparent;
    display: inline-block !important;
    color: #777 !important;
}

.pause-btn{
    font-size: 16px;
    color: #FFF !important;
}

.row{
    margin-top: 20px;
}

.label{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-primary{
    background-color: #337ab7;
}

.label-info{
    background-color: #5bc0de;
}

.btngroup{
    display: inline-flex !important;
}

.bs-example > .btn-toolbar + .btn-toolbar {
    margin-top: 10px;
}

/* Forms */
.bs-example-control-sizing select,
.bs-example-control-sizing input[type="text"] + input[type="text"] {
    margin-top: 10px;
}
.bs-example-form .input-group {
    margin-bottom: 10px;
}
.bs-example > textarea.form-control {
    resize: vertical;
}


/* List groups */

.list-group{
    max-height: 500px;
    overflow-y: auto;
    padding-bottom: 35px;
    background-color: transparent;
}

.bs-example > .list-group {
    max-width: 400px;
}

/* Navbars */
.bs-example .navbar:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .myheader h1,
    .myheader .h1 {
        font-size: 22px;
        margin-top: 0px; padding-top: 0px;padding-bottom: 0px; margin-bottom: 4px;
        font-weight: 200;
        color: #2a6496;
    }
    .myheader p.lead {
        font-size: 14px;
    }
    .myheader span {
        font-size: 13px;
    }
}

.hide{
    display: none !important;
}


.img-responsive{
    display: inline-block;
}

.list-group-item {
    width: 100%;
    text-align: left;
    font-weight: 450;
  }

.mobileWrapper{
    padding-top: 10vh;
}

.mobileWrapper .col-md-9{
    width: 100% !important;
    max-width: 100% !important;
}

.mobileWrapper .container{
    max-width: 100%;
    max-height: 100%;
}

.mobileWrapper .myheader h1,
.myheader .h1{
    font-size: 3.5vh;
}

.mobileWrapper .form-inline .form-group{
    display: inline-table;
}

.mobileWrapper .form-inline label{
    display: table-column;
}

.mobileWrapper .form-inline input{
    display: table-cell;
}

.mobileWrapper #buttonSchoolSetName{
    display: inline-block;
}

@media screen and (max-width: 400px) {
    .mobileWrapper #buttonSchoolSetName{
        width: 100%;
    }
}
.mobileWrapper p{
    line-height: 1.1;
    font-size: 2vh;
}

.mobileWrapper table{
    font-size: 2vh;
    max-width: 100%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
    table-layout:fixed;
}

.mobileWrapper table td{
    font-size: 2.5vh;
    padding: 1px 2px;
    min-width: auto;
    width: auto;
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.mobileWrapper table td p{
    font-size: 2.5vh;
    word-wrap: break-word;
}

.mobileWrapper table th{
    font-size: 2.5vh;
    padding: 1px 2px !important;
    min-width: auto;
    width: auto;
}

.mobileWrapper .myheader p.lead{
    font-size: 3.5vh;
}

.mobileWrapper .myheader span{
    font-size: 2vh;
}

.mobileWrapper .container{
    font-size: 3vh;
}

.mobileWrapper #commentPanel button{
    font-size: 2.5vh;
}

.mobileWrapper small{
    display: none;
}

@media only screen and (max-width: 480px) {
    .mobileWrapper table td{
        font-size: 1.1vh;
    }

    .mobileWrapper table td p{
        font-size: 1.1vh;  
    }

}

@media screen and (max-width: 767px) {

    .myheader h1,
    .myheader .h1 {
        font-size: 19px;
        margin-top: 0px; padding-top: 0px;padding-bottom: 0px; margin-bottom: 0px;
        font-weight: 200;
        color: #2a6496;
    }
    .myheader p.lead {
        font-size: 14px;
    }
    .myheader span {
        font-size: 13px;
    }
    .container {
        padding:4px;
        overflow-x: hidden;
    }
   

    body {
        padding:0;
    }

    .navbar-default{
        margin-left: 0;
        margin-right: 0;
        margin-bottom:0;
    }
}

@media screen and (max-width: 767px) {

    img.mylogo {
        width: 55px;
    }

}
/*a.list-group-item{
    font-size: 16px;
    line-height: 1.15;
    padding-left: 3px;
}*/
.questtext {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 1.15;
    margin-top: 10px;
    margin-bottom: 7px;
    font-weight: 600;
}
.myconf-button{
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    /*padding-right: 5px;*/
    font-size: 30px;
}

#qlist{
    padding: 10px;
}

.questvariant{
    background-color: #bfd8aa;
    font-size: 18px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 7px !important;
    padding: .75rem 0.4rem !important;
    margin-bottom: 10px;
    border:none;
    box-shadow: -4px 2px 6px 1px #aeabab;
}

.themelist{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 14px;
}
.bitelwhen{
    position: absolute;
    bottom: 0;
    right: 5px;
}



button.list-group-item.active, button.list-group-item.active:hover, button.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.pdd24com-adapt {
    width: 320px;
    height: 100px;
}
.pdd24com-adapt2 {
    width: 300px;
    height: 250px;
}
.pdd24com-adapt3 {
    display:inline-block;
    width: 160px;
    height: 600px;
}

@media (min-width: 480px) {
    .pdd24com-adapt {
        width: 320px;
        height: 100px;
    }
    .pdd24com-adapt2 {
        width: 300px;
        height: 250px;
    }
    .pdd24com-adapt3 {
        display: none;

    }
}

@media (min-width: 768px) {
    .pdd24com-adapt {
        width: 468px;
        height: 60px;
    }
    .pdd24com-adapt2 {
        width: 160px;
        height: 600px;
    }
    .pdd24com-adapt3 {
        display: none;
    }
}

@media (min-width: 992px) {
    .pdd24com-adapt {
        width: 468px;
        height: 60px;
    }
    .pdd24com-adapt2 {
        width: 300px;
        height: 250px;
    }
    .pdd24com-adapt3 {
        width: 160px;
        height: 600px;
    }

}

@media (min-width: 1200px) {
    .pdd24com-adapt {
        width: 728px;
        height: 90px;
    }
    .pdd24com-adapt2 {
        width: 300px;
        height: 250px;
    }
}

@media (min-width: 1400px){
.container, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1340px;
}
}

/*.mybtnpanel{
    width: 34px;
    height: 30px;
    padding: 5px 0px !important;
    margin-bottom: 5px !important;
}*/



.current-button{
    /*border-top: 4px solid gold ;*/
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}


.list-group-item-default, .list-group-item-default:hover{
    background-color: #cacaca !important;
}

#descriptionid p {
    font-size: 14px;
    /*line-height: 1.2em;*/
}

div.suggestPopupContent div table tbody tr td.item{
    padding: 12px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    background-color: white;

}

div.suggestPopupContent div table tbody tr td.item-selected{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    background-color: #c4e3f3;
}   

.admin-panel-wrapper{
    position: absolute;
    right: 50px;
    top: 0px;
    display: flex;
    z-index: 100000;
    justify-content: center;
}

.MuiDrawer-root .admin-panel-wrapper{
    position: relative !important;
    right: 0;
    text-align: center;
}

.page-title{
    font-size: 2.5vh;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    width: 85%;
    max-width: 85%;
    vertical-align: middle;
    overflow: hidden;
    line-height: 1 !important;
}

.admin-panel-wrapper span > input{
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
    padding-left: 3px;
    font-size: 14px;
}

.admin-panel-wrapper div > input{
    background-color: #7fd67f;
    padding: 3px 18px;
    color: #FFF;
    cursor: pointer
}
#admin_panel{
    cursor: pointer;
}

#admin_panel:hover{
    color:#428bca;
}


.add-btn{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 2px;
    color: #76cf76;
    bottom: 0;
}

/*#login-form input[type='submit']{
    font-weight: 400;
    color: #000 !important;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 19px;
}*/

.btn-auth{
    font-weight: 400;
    font-size: 19px;
}

.mobileHeader .btn-auth{
    font-size: 2.5vh;
}

.btn-auth:hover{
    color: #000;
}

.btn-reg{
    color:#444 !important;
}

.btn-reg:hover{
    color: #000 !important;
}

#tabs{
    min-height: 500px;
}

.ticket-wrapper{
    display: inline-block;
    vertical-align: top;
    height: 130px;
    width: 90px;
    border: 1px solid rgb(194, 193, 193);
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 10px;
    margin: 10px 10px;
}

.text{
    width: 95%;
    /*height: 30px;*/
    height: auto;
    padding: 12px 5px;
}

.nav-tabs{
    margin-top: 20px !important;
    display:block;
    margin:auto;
    background-color: #f6f6f6;
}

.nav-tabs li{
    display: inline-block;
    text-align:center;
    padding: 0;
}

.nav-tabs li a{
    display:table-cell;
  }

.qForm{
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 40px;
}

.qForm > div{
    margin-bottom: 15px;
}

.qForm .variant-section > div{
    margin-bottom: 15px;
}

/*.qForm fieldset > label:not(:first-child){
    margin-top: 15px;
}*/

#examSizePanel label{
    display: inline-block !important;
    margin-right: 5px;
}

#examErrorSize{
    padding-left: 4px;
}

.ticket-wrapper .title{
    position: absolute;
    bottom: -14px;
    text-align: center;
    display: block;
    width: 100%;
    color:rgb(34, 33, 33);
    font-weight: bold;
}

#ticket-list{
    display: inline-block;
}

.addIcon{
    font-size: 44px !important;
    position: absolute;
    top: 30px;
    left: 32px;
    color:rgb(194, 193, 193);
}

.ticket-wrapper:hover .addIcon{
    color:rgb(107, 106, 106);
}

.block-wrapper{
    position: relative;
    padding: 15px 20px;
    text-align: center;
    height: 100%;
}

.block-wrapper > .col-30{
    min-width: 23%;
    max-width: 25%;
    margin-right: 20px;
    display: inline-block;
}

.col-50{
    min-width: 41%;
    max-width: 45%;
    margin-right: 20px;
    display: inline-block; 
}

.block-wrapper > .col-30, .col-50, .middle-column{
    min-height: 300px;
    vertical-align: top;
}

.middle-column{
    height: 100%;
    width: 30px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
}

.middle-column > i{
    cursor: pointer;
    font-size: 20px;
    color: #4eca4e;
}

.middle-column > i:hover{
    color:#209620;
}

.col-title{
    display: block;
    text-align: center;
    font-size: 18px;
    color:#3c96e6;
    margin-bottom: 15px;
}

.add-ticket{
    position: relative;
    float: right;
    padding: 15px;
    height: 130px;
    cursor: pointer;
}

.add-ticket:hover > span{
    color:#333;
}

.answers_block input[type=text] {
    width: 95%;
    padding: .4em;
  }

  /*label, input {
    display: block;
  }*/

.answers_block{
    position: relative;
}

.answers_block > div{
    width: 95%;
}

.add_var{
    color:#4cae4c !important;
    cursor: pointer;
    font-size: 22px;
    position: absolute !important;
}

.variant-section{
    padding: 8px 12px;
    border: 1px solid rgb(106, 155, 245);
    margin-bottom: 5px;
}

#comment{
    font-size: 10px;
}

.input-label{
    text-align: center;
    width: 100%;
    font-size: 9px;
    font-style: italic;
    color:#333;
    margin-bottom: 4px;
}

.error{
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
    color: rgba(216, 64, 64, 0.911);
}


.extisted-ticket{
    background-color: #428bca;
    color: #FFF;
    border:rgb(34, 33, 33) 2px solid;
}

.extisted-ticket > span{
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
    font-size: 10px;
    margin-top: 15px;
}

#tabs{
    position: relative;
}

#tabs-1{
    height: 100%;
}

.page-wrapper{
    width: 100%;
    padding: 10px;
}

.page-wrapper > span{
    color:rgb(106, 155, 245);
    font-size: 16px;
    margin-right: 4px;
    cursor: pointer;
}

.page-wrapper > span:hover{
    color:#2a6496;
}

.current_page{
    text-decoration: underline;
}

#admin_panel{
    display: inline-block;
    margin-right: 10px;
    font-size: 17px;
    line-height: 17px;
}

#admin_panel a{
    margin-right: 5px;
    line-height: 17px;
    vertical-align: middle;
}

.editor-btn{
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 100000;
}

.btn-primary{
     /*background-color: transparent;*/
}

.blue-btn{
    background-color: #1f82d8;
}

.row > h2{
    display: block;
    width: 100%;
}

.admin-container{
    width: 100% !important;
    max-width: 85%;
    text-align: center !important;
}
.admin-container .row{
    text-align: center !important;
}

.admin-block{
    display: inline-block;
    width: 80%;
    float: none;
}

.exit-icon{
   cursor: pointer;
   display: inline-block;
   margin-left: 3px;
}


.exit-icon > span:first-child{
    margin-left: 5px;
    margin-right: 3px;
}

.users-panel{
    text-align: left;
    padding: 15px 40px;
}

.users-table{
    min-width: 100%;
    border: 0px;
    margin-top: 10px;
    border-spacing: 10px;
    text-align: left;
    display: inline-table;
    color: #333;
    background-color: #FFF;
}

.table-topheader{
    display:inline;
    float: left;
    font-size: 16px;
    color:#3f3f3f;
    position: relative;
    top: 8px;
}

.MuiAutocomplete-popper{
    text-align: left;
}

.users-table tr{
    border: none;
}

.QuestionForm{
    text-align: left;
}

.users-table th{
    background-color: #3c96e6;
    color: #FFF;
    padding: 12px 17px !important;
    border: none;
}

.users-table td{
    font-size: 16px;
    font-weight: 400;
    padding: 12px 17px !important;
    border: none;
}

.users-table td:hover{
    color:#2a6496;
}

.users-tools > i{
    margin-right: 4px;
    cursor: pointer;
}

.role-cell{
    color:#3c96e6;
}

.dialog-window input{
    width: 90%;
    height: 30px;
}

.dialog-window label{
    display: block;
    width: 90%;
    margin-top: 10px;
}

.select-css { 
    display: block; 
    font-size: 16px; 
    font-family: sans-serif; 
    font-weight: 700; 
    color: #444; 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .8em; width: 100%; 
    max-width: 90%; 
    box-sizing: border-box; 
    margin: 0; 
    border: 1px solid #aaa;
     box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
     background-color: #fff; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 
    } 
     .select-css::-ms-expand { display: none; } 
     .select-css:hover { border-color: #888; } 
     .select-css:focus { border-color: #aaa; 
     box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
     box-shadow: 0 0 0 3px -moz-mac-focusring; 
    color: #222;
     outline: none; 
    } 
     .select-css option { font-weight:normal; } 
     *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
    background-position: left .7em top 50%, 0 0; 
    padding: .6em .8em .5em 1.4em; 
    }

    .navbar-nav{
        display: inline-block;
        float: none;
    }

    .navbar-collapse{
        text-align: center;
    }

    .config-wrapper{
        margin-top: 20px;
        text-align: left;
        padding-left: 20px;
        padding-top: 20px;
        display: inline-block;
    }

    .config-section{
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .config-section > label{
        padding: 5px 10px;
    }

    .configTable{
        margin-bottom: 15px;
        display: inline-table;
    }

    .config-section> div{
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .configTable td{
        padding: 5px 7px;
        color:rgb(87, 86, 86);
        font-weight: 400;
        font-size: 18px;
    }

    .configTable tr{
        border-bottom: 1px solid #dfd0d0;
    }

    .configTable td:first-child{
        text-align: right;
    }

    .configTable td:nth-child(2){
        text-align: left;
        padding-left: 20px;
    }

    .btn-big{
        margin-top: 35px;  
        margin-left: 30px; 
        padding: 10px 15px;
        cursor: pointer;
        background-color: #4cae4c;
        color: #FFF;
        font-size: 18px !important;
    }

    .tab-content{
        min-height: 300px;
        border-left: 1px solid #ddd; 
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .nav-link{
        background-color: #f6f6f6 !important;
        color:#454545 !important;
        font-size: 2vh !important;
        font-weight: 400 !important;
        padding: 0.9rem 2rem;
    }

    .auth_container{
        width: 100%;
    }

    .nav-item > .active{
        background-color: #007fff !important;
        color: #FFF !important;
    }

    .tab-content > .active{
        opacity: 1 !important;
    }

    .modal-90w{
        min-width: 40%;
        width: 700px;
    }

    .modal-90w input{
        margin-bottom: 15px;
    }

    .btn-dialog{
        display: inline-block !important;
        color: #FFF !important;
        margin-right: 7px !important;
    }

    .btn-success{
        background-color:#5cb85c; 
    }

    .btn-warning{
        background-color: #d43f3a;
        color: #FFF;
    }

    .btn-cancel{
        background-color: #777;
        color: #FFF;
    }

    .btn{
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 5px !important;
    }
    
    #buttonPanel.btn-group-sm > button , #buttonPanel1 > button, #buttonPanel2 > button, #buttonPanel3 > button , #buttonPanel4 > button {
        width: 35px;
        height: 30px;
        padding: 5px 0px !important;
        margin-bottom: 5px !important;
    }

    .btn-page{
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        width: 45px;
        height: auto;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .slide-wrapper{
        display: inline-block;
        text-align: center;
        overflow-wrap: break-word;
        position:relative;
    }

    .button-slider{
        width: 100%;
        display: inline-block;
        position: relative;
        overflow: hidden;
        height: 50px;
    }

    .button-slider #buttonPanel{
        text-align: center;
        word-wrap: normal;
        position: absolute;
        white-space: nowrap;
        top: 0;
        height: 100%;
    }

    .arrow-btn{
        font-size: 30px;
        position:absolute;
        top: 2px;
    }

    .arrow-left-btn{
        left: -30px;
    }

    .arrow-rigth-btn{
        right: -30px;
    }

    .arrow-btn:hover{
        cursor: pointer;
        color: #000;
    }

    .panel-primary {
        border-color: #337ab7;
      }

    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
      }

    .panel-primary > .panel-heading {
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
      }

    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
          border-bottom-color: transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

    .lead {
        font-size: 21px;
      }

    .lead {
        margin-bottom: 20px;
        font-weight: 300;
        line-height: 1.4;
      }

    .panel-body {
        padding: 15px;
      }

    .label-danger {
        background-color: #d9534f;
      }

    .label-default {
        background-color: #777;
      }

    .exam-title{
        font-weight: bold;
        line-height: 50px;
    }

    .exam-title > label{
        font-size: 0.7em;
        position: relative;
        display: block;
        z-index: 10001;
        width: 100%;
        padding: 0px 10px;
        word-break: break-all;
        line-height: 1em;
    }

    .mobileWrapper .exam-title{
        display: none;
    }

    .mobileWrapper .form-ticket{
        margin-top: 4px;
    }

    .form-ticket{
        margin-top: 30px;
    }

    .btn-start{
        background-color: #5bc0de;
        color: #FFF;
        font-size: 0.9rem;
        padding: .050rem .95rem;
        margin-bottom: 1px;
    }

    .right-panel{
        display: inline-block;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        float: right;
    }

    .right-panel > span{
        display: inline-block;
        vertical-align: middle;
    }

    .pos-element{
        visibility: hidden;
    }

    .pos-element i{
        color: rgb(104, 226, 104);
    }

    .pos-element i{
        margin: 0;
        font-weight: 600;
    }

    .pos-element i:hover{
        color:#33bb33;
        cursor: pointer;
    }

    .list-group-item:hover .pos-element{
        visibility: visible;
    }

    .right-panel i{
        font-size: 12px;
        color:#a5a3a3;
        margin-right: 3px;
    }

    .right-panel i:hover{
        color:rgb(34, 33, 33);
        cursor: pointer;
    }

    .fr-wrapper > div:first-child > a{
        display: none !important;
    }

    .input_field{
        display: block;
        padding: 10 15px;
        margin-bottom: 15px;
    }

    .input_field > input{
        width: 100%;
        height: 30px;
        font-size: 16px;
        padding: 4px;
        border-radius: 5px;
    }

    .btn-wrapper{
        text-align: right;
    }

    .btn-wrapper > button{
        margin-right: 7px;
    }

    .btn-panel > i{
        margin-right: 4px;
        color: #333;
    }

    .btn-panel > i:hover{
        color:#337ab7;
        cursor: pointer;
    }

    .profileWrapper{
        margin: 100px auto;
        text-align: left;
        background: #FFF;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        min-width: 300px;
        min-height: 350px;
        max-width: 600px;
        border-radius: 10px;
    }

    .profileHeader{
        background-color: #67c167;
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 40px;
        color: #FFF;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profileBody{
        display: inline-block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        padding-top: 20px;
    }

    .profileBody > div{
        margin-bottom: 20px;
        font-size: 18px;
        color: #605a5a;
        display: block;
        width: 100%;
    }

    .profileBody > div > span{
        color:#000;
        font-size: 16px;
        display: inline-block;
    }

    .profileBody label{
        width: 120px;
        text-align: right;
        height: 30px;
        margin-right: 10px;
    }

    .mini-btn{
        font-size: 12px;
        cursor: pointer;
        margin-left: 3px;
    }

    .mini-btn:hover{
        color:#337ab7;
    }

    .password-field{
        padding-left: 15px;
    }

    .password-field .form-control{
        display: inline-block;
        margin-right: 7px;
        width: 250px;
    }

 .password-field > div{
    display: inline-block;
 }

 .error-msg{
    height: 20px !important;
    font-size: 11px;
    margin-top: 2px;
    color: rgb(218, 55, 55);
 }

 .confirm-msg{
    padding: 5px 10px;
    color: rgb(218, 55, 55);
 }

 .form-group{
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
 }

 .form-group > label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-right: 1px;
 }

 .radio-inline{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
 }

 .radio-inline input[type="radio"]{
    /*position: absolute;*/
    margin: 4px 0 0;
    margin-left: -20px;
    margin-right: 4px;
    line-height: normal;
    margin-bottom: 4px;
 }

 .checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
  }

 .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-top: 0;
    margin-left: 10px;
  }

 .checkbox, .form-inline .radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .btn{
    vertical-align: middle;
  }

  .input-right-btn:hover{
    background-color: #FFF;
  }

  .form-inline{
    display: inline-flex;
    text-align: center;
  }

  .form-inline .form-control{
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
  }

  .current-finished-button.btn-success{
    background-color: #32a832 !important;
  }

  .current-finished-button.btn-danger{
    background-color: #df1226 !important;
  }

  .visually-hidden{
    display: none;
  }
  
  .btn-danger{
    background-color: #dc3545 !important;
  }

  .btn-danger:hover{
    background-color: #c82333 !important;
  }

  .fr-second-toolbar{
    display: none !important;
  }

  p[data-f-id='pbf']{
    display: none !important;
  }

  .MuiList-root{
    width: 100%;
  }

  .questvariant{
    line-height: 1;
  }

  #questComment{
    line-height: 1.1;
    width: 100%;
    text-align: left;
    padding: .75rem 0.4rem !important;
    background-color: transparent;
    font-weight: 450;
    color: #777;
    font-size: 1rem;
  }

  #questNext{
    border-radius: 6px;
    padding: .35rem 1.25rem;
  }

  .row.testrow{
    display: block !important;
    text-align: center !important;
    width: 100% !important;
    margin-right: 0;
    margin-left: 0;
    line-height: 40px;
  }

  .col-lg-8.col-md-8.col-sm-8{
    display: inline-block !important;
  }

  .col-md-12{
    text-align: center;
  }

  .col-md-12.col-sm-12.myheader{
    width: 100% !important;
  }

  .img-responsive{
    float: none !important;
    display: inline-block !important;
  }

  .myheader h1{
    text-align: center;
    display: inline-block;
  }

  .list-group-item{
    height: auto !important;
  }
  
  .MuiDrawer-paperAnchorDockedLeft{
    top: 80;
  }

  #login-block{
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    font-size: 2.5vh;
  }

  

  .centered-row{
    text-align: center !important;
  }

  .mini-wrapper{
    display: inline-block;
    width: 100%;
  }

  .block-ticket{
    display: inline-block !important;
    text-align: left;
    min-width: 50%;
  }

  .tab-content{
    width: 100%;
  }

  .editorWrapper{
    width: 100%;
  }

  .adminpanel-btn{
    padding: 3px !important;
    background-color: transparent !important;
    border: none !important;
    color:rgba(0, 0, 0, 0.35) !important;
    line-height: 20px;
    padding: 15px 15px !important;
  }

  .adminpanel-btn > i:hover{
    color:#444;
  }

  .adminpanel-btn > i{
    font-size: 22px;
    color:rgba(0, 0, 0, 0.35) !important;
  }

  .note-video-clip{
    max-width: 100%;
  }

  .title-num{
    font-size: 16px;
    color:#1f82d8;
    text-align: right;
  }

  .status-circle{
    position: relative;
    bottom: 2px;
    margin-right: 4px;
    font-size: 10px;
  }

  .tableWrapper{
    min-width: 60%;
    display: inline-block;
    text-align: right;
  }

  